@model IEnumerable<MyResourcePlanning.Web.ViewModels.User.UsersViewModel>


<option selected disabled value="">First Name;Last Name</option>
@foreach (var option in Model)
{
    <option>@option.FirstName;@option.LastName</option>
}