<div class="jumbotron">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        MyResourcePlanning is a simple resource planning system which
                        supports the process of planning and management of human resources and
                        business projects in the company
                    </h2>
                </div>
            </div>
        </div>

