<div class="modal" tabindex="-1" role="dialog" id="modalWin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <h5 id="commentLabel" class="text-center font-weight-bold">The item will be deleted</h5>
                <div class="form-group" id="commentSection">
                    <div class="fa fa-comment form-control-feedback right" aria-hidden="true"></div>
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-success mr-auto" id="modal-btn-yes">Save changes</button>
                    <button type="button" class="btn btn-danger"  data-dismiss="modal" id="modal-btn-no">Close</button>
            </div>
        </div>
    </div>
</div>

