<div class="d-flex justify-content-between">
    <div class="active-pink-3 active-pink-4 w-100">
        <form class="form-inline active-purple-3 active-purple-4">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input id="search_input_all" oninput="getFilteredData()" class="form-control form-control-sm ml-3 mb-2" type="search" placeholder="Search after the second character..."
                   aria-label="Search">
        </form>
    </div>
    <div class="active-pink-3 active-pink-4 mb-2">
        <select class="form-control" name="state" id="maxRows">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="70">70</option>
            <option value="100">100</option>
            <option value="5000">Show ALL Rows</option>
        </select>
    </div>
</div>

