<div class="d-flex justify-content-between">
    <div id="paginationDiv" class="pagination-container">
        <nav>
            <ul class="pagination"></ul>
        </nav>
    </div>
    <div id="paginationRowsCount" class="rows_count">Showing 11 to 20 of 91 entries</div>
</div>

