@using MyResourcePlanning.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<div class="text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Resource Planning System!</h1>
    </div>
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <partial name="_InfoPartial" />
    }
<div class="jumbotron">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h4 class="card-title">Requests</h4>
                <p class="card-text">Get an overview of all requests which i am assignedt to</p>
                <a class="btn btn-secondary mb-1" href="/Request/All"><i class="fas fa-tasks p-1"></i>My assigned requests</a>
                <a class="btn btn-secondary mb-1" href="/Request/Create"><i class="fas fa-plus p-1"></i>Create new request</a>
            </div>
        </div>
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h4 class="card-title">Skills</h4>
                <p class="card-text">Build and mantain your professional skill profile</p>
                <a class="btn btn-secondary mb-1" href="/Skill/MySkills"><i class="fas fa-book-reader p-1"></i>View and manage my skills</a>
                <a class="btn btn-secondary mb-1" href="/Skill/All"><i class="fas fa-plus p-1"></i>Add new skill to my profile</a>
                <a class="btn btn-secondary mb-1" href="/Skill/CreateCategory"><i class="fas fa-user-shield p-1"></i>Create new skill category</a>
                <a class="btn btn-secondary mb-1" href="/Skill/CreateSkill"><i class="fas fa-user-shield p-1"></i>Create new skill</a>
                <a class="btn btn-secondary mb-1" href="/Skill/All"><i class="fas fa-user-shield p-1"></i>View and manage categories and skills</a>
            </div>
        </div>
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h4 class="card-title">Trainings</h4>
                <p class="card-text mb-1">Request and manage your trainings</p>
                <a class="btn btn-secondary mb-1"><i class="fas fa-user-graduate p-1"></i>My Trainings</a>
            </div>
        </div>
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h4 class="card-title">Calendar</h4>
                <p class="card-text mb-1">Get an overview of your calendar</p>
                <a class="btn btn-secondary mb-1"><i class="far fa-calendar-alt p-1"></i>My calendar</a>
            </div>
        </div>
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h4 class="card-title">Projects</h4>
                <p class="card-text">Create and manage company projects</p>
                <a class="btn btn-secondary mb-1" href="/Project/All"><i class="fas fa-business-time p-1"></i>View and manage projects</a>
                <a class="btn btn-secondary mb-1" href="/Project/Create"><i class="fas fa-plus p-1"></i>Create new Project</a>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-between">
            <div class="card text-white bg-info mb-3 container-fluid content-row">
                <div class="card-body container-fluid content-row d-flex flex-column">
                    <h4 class="card-title container-fluid">New member?</h4>
                    <p class="card-text">Get a free registration and read our latest articles</p>
                    <div class="card-buttons align-self-md-center">
                        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus p-1"></i>Register</a>
                    </div>
                </div>
            </div>
            <div class="col py-3 px-md-5 bordered col-example"></div>
            <div class="card text-white bg-info mb-3 container-fluid content-row">
                <div class="card-body container-fluid content-row d-flex flex-column">
                    <h4 class="card-title container-fluid">Already registered?</h4>
                    <p class="card-text">Login and read our latest articles</p>
                    <div class="card-buttons align-self-md-center">
                        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt p-1"></i>Login</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</div>
