@using MyResourcePlanning.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<div class="text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Resource Planning System!</h1>
    </div>
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <partial name="_InfoPartial" />
    }
<div class="jumbotron">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">User management</h4>
                        <p class="card-text mb-1">Manage user roles and permissions</p>
                        <a class="btn btn-secondary mb-1" asp-area="Administration" asp-controller="UserManagement" asp-action="All"><i class="fas fa-users-cog p-1"></i>View and manage user status and roles</a>
                </div>
            </div>
        }

        @if (this.User.IsInRole(GlobalConstants.ResourceRoleName) ||
            this.User.IsInRole(GlobalConstants.ApproverRoleName) ||
            this.User.IsInRole(GlobalConstants.PlannerRoleName))
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">Requests</h4>
                    @if (this.User.IsInRole(GlobalConstants.PlannerRoleName))
                    {
                        <p class="card-text mb-1">Create and manage requests</p>
                        <a class="btn btn-secondary mb-1" asp-area="Planner" asp-controller="Request" asp-action="Create"><i class="fas fa-plus p-1"></i>Create new request</a>
                        <a class="btn btn-secondary mb-1" asp-area="Planner" asp-controller="Request" asp-action="PlannnerRequests"><i class="fas fa-tasks p-1"></i>My planner requests</a>

                        if (this.User.IsInRole(GlobalConstants.ResourceRoleName))
                        {
                            <a class="btn btn-secondary mb-1" asp-controller="Request" asp-action="ResourceRequests"><i class="fas fa-tasks p-1"></i>My resource requests</a>
                        }
                    }
                    else if (this.User.IsInRole(GlobalConstants.ApproverRoleName))
                    {
                        <p class="card-text mb-1">Manage requests</p>
                        <a class="btn btn-secondary mb-1" asp-area="Approver" asp-controller="Request" asp-action="ApproverRequests"><i class="fas fa-tasks p-1"></i>My approver requests</a>

                        if (this.User.IsInRole(GlobalConstants.ResourceRoleName))
                        {
                            <a class="btn btn-secondary mb-1" href="/Request/ResourceRequests"><i class="fas fa-tasks p-1"></i>My resource requests</a>
                        }
                    }
                    @if (this.User.IsInRole(GlobalConstants.ResourceRoleName) &&
                        !this.User.IsInRole(GlobalConstants.PlannerRoleName) &&
                        !this.User.IsInRole(GlobalConstants.ApproverRoleName))
                    {
                        <p class="card-text mb-1">View my requests</p>
                        <a class="btn btn-secondary mb-1" href="/Request/ResourceRequests"><i class="fas fa-tasks p-1"></i>My resource requests</a>
                    }
                </div>
            </div>
        }
        @if (this.User.IsInRole(GlobalConstants.ResourceRoleName) ||
            this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">Skills</h4>
                    @if (this.User.IsInRole(GlobalConstants.ResourceRoleName))
                    {
                        <p class="card-text mb-1">Build and mantain your professional skill profile</p>
                        <a class="btn btn-secondary mb-1" asp-controller="Skill" asp-action="All"><i class="fas fa-plus p-1"></i>Add new skill to my profile</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Skill" asp-action="MySkills"><i class="fas fa-book-reader p-1"></i>View and manage my skills</a>
                    }
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <p class="card-text mb-1">Build and mantain your professional skill profile</p>
                        <a class="btn btn-secondary mb-1" asp-area="Administration" asp-controller="Skill" asp-action="CreateCategory"><i class="fas fa-user-shield p-1"></i>Create new skill category</a>
                        <a class="btn btn-secondary mb-1" asp-area="Administration" asp-controller="Skill" asp-action="CreateSkill"><i class="fas fa-user-shield p-1"></i>Create new skill</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Skill" asp-action="All"><i class="fas fa-user-shield p-1"></i>View and manage categories and skills</a>
                    }
                </div>
            </div>
        }
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName) ||
            User.IsInRole(GlobalConstants.ResourceRoleName) ||
            User.IsInRole(GlobalConstants.PlannerRoleName))
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">Trainings</h4>
                    <p class="card-text mb-1">Request and manage trainings</p>
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-secondary mb-1" asp-area="Administration" asp-controller="Training" asp-action="Create"><i class="fas fa-user-shield p-1"></i>Create new training</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Training" asp-action="All"><i class="fas fa-user-shield p-1"></i>View and manage trainings</a>
                    }
                    @if (User.IsInRole(GlobalConstants.ResourceRoleName))
                    {
                        <a class="btn btn-secondary mb-1" asp-controller="Training" asp-action="All"><i class="fas fa-chalkboard-teacher p-1"></i>View and request trainings</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Training" asp-action="MyTrainings"><i class="fas fa-user-graduate p-1"></i>My Trainings</a>
                    }
                    @if (User.IsInRole(GlobalConstants.PlannerRoleName))
                    {
                        <a class="btn btn-secondary mb-1" asp-area="Planner" asp-controller="Training" asp-action="AllUsersTrainings"><i class="fas fa-users p-1"></i>Manage user training statuses</a>
                    }
                </div>
            </div>
        }
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName) ||
            User.IsInRole(GlobalConstants.ResourceRoleName))
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">Calendar</h4>
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <p class="card-text mb-2">Get an overview of your calendar</p>
                        <a class="btn btn-secondary mb-1" asp-area="Administration" asp-controller="Calendar" asp-action="Create"><i class="far fa-calendar-plus p-1"></i>Create new calendar period</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Calendar" asp-action="All"><i class="fas fa-user-shield p-1"></i>View and manage company calendar</a>
                    }
                    else if (User.IsInRole(GlobalConstants.ResourceRoleName))
                    {
                        <p class="card-text mb-2">Create and manage company calendar days</p>
                        <a class="btn btn-secondary mb-1" asp-controller="Calendar" asp-action="CreateAbsence"><i class="far fa-calendar-plus p-1"></i>Create new absence</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Calendar" asp-action="MyCalendar"><i class="far fa-calendar-alt p-1"></i>My calendar</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Calendar" asp-action="All"><i class="far fa-calendar-alt p-1"></i>View company calendar</a>
                    }
                </div>
            </div>
        }
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName) ||
            User.IsInRole(GlobalConstants.PlannerRoleName) ||
            User.IsInRole(GlobalConstants.ApproverRoleName))
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">Projects</h4>
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <p class="card-text mb-2">View and manage company projects</p>
                        <a class="btn btn-secondary mb-1" asp-area="Administration" asp-controller="Project" asp-action="Create"><i class="fas fa-user-shield p-1"></i>Create new Project</a>
                        <a class="btn btn-secondary mb-1" asp-controller="Project" asp-action="All"><i class="fas fa-user-shield p-1"></i>View and manage projects</a>

                    }
                    else if (User.IsInRole(GlobalConstants.PlannerRoleName) &&
                             !User.IsInRole(GlobalConstants.AdministratorRoleName) ||
                             User.IsInRole(GlobalConstants.ApproverRoleName) &&
                             !User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <p class="card-text mb-2">Company projects overview</p>
                        <a class="btn btn-secondary mb-1" asp-controller="Project" asp-action="All"><i class="fas fa-business-time p-1"></i>View projects</a>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-between">
            <div class="card text-white bg-info mb-3 container-fluid content-row">
                <div class="card-body container-fluid content-row d-flex flex-column">
                    <h4 class="card-title container-fluid">New member?</h4>
                    <p class="card-text">Get registration and start manage your working process</p>
                    <div class="card-buttons align-self-md-center">
                        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus p-1"></i>Register</a>
                    </div>
                </div>
            </div>
            <div class="col py-3 px-md-5 bordered col-example"></div>
            <div class="card text-white bg-info mb-3 container-fluid content-row">
                <div class="card-body container-fluid content-row d-flex flex-column">
                    <h4 class="card-title container-fluid">Already registered?</h4>
                    <p class="card-text">Login and manage your working process</p>
                    <div class="card-buttons align-self-md-center">
                        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt p-1"></i>Login</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</div>
