@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="jumbotron">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <a class="btn btn-secondary" href="javascript:void(0);" onclick="history.go(-1);">Back to the previous page</a>
    </header>
</div>
