.bg-resources {
    background-color: #AFEEEE;
}

.text-resources {
    color: #AFEEEE;
}

hr.hr-2 {
    height: 2px;
}

.w-45 {
    width: 45%;
}

.row {
    width: 98%;
}
.alert-danger {
    background-color: #bc204b;
    color: #fff;
    padding: 7.5px;
}

button {
    cursor: not-allowed;
}
